/**
 * Plugin options page styles
 *
 * @package Plugins_50
 * @developer shramee <shramee.srivastav@gmail.com>
 */
div#TB_window, iframe#TB_iframeContent {
	top: 25px;
	left: 25px;
	bottom: 25px;
	right: 25px;
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
}

iframe#TB_iframeContent {
	width: 100% !important;
	height: 100% !important;
}

div#TB_title {
	height: 0;
	border: none;
}

div.tb-close-icon {
	right: -30px;
	color: #ccc;
}